h3{
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boxes{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 100px 150px;
}

.Box{
    border: solid;
    width: auto;
    height: auto;
    padding: 30px;
}

span{
    margin: 2px;
}

#input{
    text-align: center;
}

#text{
    height: 20px;
}

#button{
    width: 9%;
    height: 9%;
    padding: 5px;
    margin: 2px;
    background-color: rgb(203, 203, 203);
}